.user-form-container {
    /* border: 5px solid red; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 100%;
    /* padding-bottom: 20px; */
    /* padding: 40px 20px; */
}

/* .form-input-container { */
    /* border: 3px solid blue; */
    /* box-sizing: border-box; */
    /* border: solid 1px rgb(188, 185, 185, 0.2); */
    /* box-shadow: 0 0 10px 1px rgba(92, 91, 91, 0.2); */
    /* border-radius: 8px; */
    /* padding: 40px 1000px; */
    /* margin-bottom: 10px; */
    /* }  */
    
.form-input-container > form {
        display: flex;
        flex-direction: column;
        width: 100%;
 }

 .signup-label {
    text-align: center;
    font-size: 32px;
 }

.signup-form-input-container {
    /* border: 3px solid green; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 10px;
    margin-top: 10px; */
    margin:10px auto;
    /* padding: 10px; */
    /* border-bottom: 2px solid grey; */
    height: fit-content;
    width: 85%;
}

.sign-up-button {
    width: 85%;
    height: 40px;
    background-color: #2A2F35;
    color: white;
    margin: 10px auto;
    font-size: 20px;
    border-radius: 8px;
}

.sign-up-button:hover {
    cursor: pointer;
    background-color: rgb(242, 41, 141);
    color: black;
}

.signup-input-field {
    box-sizing: border-box;
    font-family: "GT America","Helvetica Neue","Helvetica","Arial",sans-serif;
    height: 40px;
    font-size: 15px;
    font-weight: 550;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: .5px solid;
}

.signup-input-field:hover:not(input[type=range]) {
    border: 1.5px solid rgb(242, 41, 141);
    background-color: rgb(250, 233, 241);
}

.signup-input-field:focus {
    outline: none;
    border: 1.5px solid rgb(242, 41, 141);
    background-color: rgb(250, 233, 241);
}

.signup-input-label {
    font-family: "GT America","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: large;
    padding-bottom: 10px;
    color: #55606d;
}

.errors-div-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-left: 20px;
}

.errors-div {
    font-size: large;
    margin-bottom: 10px;
}

.signup-bio-field {
    width: 95%;
    height: 150px;
    resize: none;
    font-family: "GT America","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: large;
    font-weight: 550;
    border-radius: 8px;
    padding: 10px;
}

input[type=range] {
    appearance: none;
    -webkit-appearance: none;
     border: none; 
     border: 1px solid white;
    overflow: hidden;
    width: 100%; 
    height: 25px;
     /* background-color: rgb(242, 41, 141);  */
    /* color: #9a905d */
} 

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(242, 41, 141);
    margin-top: -4px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
    
} 

.min-max {
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: 30px;
}



