.dislike-card {
    width: 23%; 
    /* border: 2px solid purple; */
    border-radius: 10px;
    margin: 0;
}

.dislike-img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.dislike-img > img {
    width: 100%;
    border-radius: inherit;
}

.hidden {
    margin: 0;
    visibility: collapse;
}