.footer-container {
  display: flex;
  background-color: #1a1a1a;
  height: 100px;
  justify-content: space-evenly;
  padding-top: 10px;
}

.github-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.technology-container {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.git-links {
  text-decoration: none;
  color: white;
}
