/* TODO Add site wide styles */
* {
  font-family: "GT America", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
