.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #2a2f35;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 50px;
    margin-top: -10px;
    padding: 5px 0 0 5px;
}

.nav-link {
    color: white;
}

.nav-link:link {
    text-decoration: none;
}


#home-link {
    display: flex;
    font-weight: bold;
    align-items: center;
    padding-left: 15px;
    font-size: 20px;
}

.login-signup {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 15px;

}

.user-content{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 25px;
    padding-left: 25px;
}

#logout{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 15px;

}
