.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: auto;
}

.top-profile-background {
    display: flex;
    justify-content: center;
    background-color: #1a1a1a;
    width: 100vw;
    height: 300px;
    text-decoration: none;
}

.prof-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-img {
    width: 150px;
    border-radius: 100px;
}

.profile-header-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 20px;
}

.name-update {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#username {
    font-size: 40px;
    color: white;
    font-family: “GT America”, “Helvetica Neue”, “Helvetica”, “Arial”, sans-serif;
}

#user-location {
    font-size: 20px;
    color: white;
    font-family: “GT America”, “Helvetica Neue”, “Helvetica”, “Arial”, sans-serif;
}

#pencil {
    height: 40px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    max-width: 528px;
    max-height: 137px;
    width: 100%;
    height: 100%;
    border: solid 1px rgb(188, 185, 185, 0.2);
    box-shadow: 0 0 10px 1px rgba(188, 185, 185, 0.2);
    border-radius: 8px;
    margin: 10px 0;
    padding: 0 20px 20px 20px;
}

.profile-info-questions {
    display: flex;
    flex-direction: column;
    max-width: 528px;
    max-height: 157px;
    width: 100%;
    height: 100%;
    border: solid 1px rgb(188, 185, 185, 0.2);
    box-shadow: 0 0 10px 1px rgba(188, 185, 185, 0.2);
    border-radius: 8px;
    margin: 10px 0;
    padding: 0 20px 20px 20px;
}

.prof-card-header {
    background-color: #1a1a1a;
    color: white;
    width: calc(100% + 20px);
    margin: 0 -20px;
    border-radius: 8px 8px 0 0;
    padding: 5px 0 5px 20px;
}

.the-info {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.prof-card-header3 {
    background-color: #1a1a1a;
    color: white;
    width: calc(100% + 20px);
    margin: 0 -20px;
    margin-bottom: 10px;
    border-radius: 8px 8px 0 0;
    padding: 5px 0 5px 20px;
}

.the-info>span {
    color: rgb(242, 41, 141);
    font-weight: bold;
    font-family: "GT America", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    display: flex;
    flex-direction: row;
}

.count-box{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
}

#question-count{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 22px;
    width: 40px;
    height: 40px;
    color: white;
    background-color:rgb(242, 41, 141);
}
