.discover-page-containter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: auto;
}


.discover-page-cards {
    display: flex;
    flex-direction: column;
    max-width: 528px;
    /* max-height: 137px; */
    width: 100%;
    /* height: 100%; */
    border: solid 1px rgb(188, 185, 185, 0.2);
    box-shadow: 0 0 10px 1px rgba(188, 185, 185, 0.2);
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
}
